.App {
  text-align: center;
  background-color: #30336b;
  color: white !important;
  min-height: 100vh;
}
img {
  width: 100%;
  height: auto;
}
h1 {
  color: white;
}

.d-flex {
  display: flex;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
.d-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.w-100 {
  width: 100%;
}
.m-auto {
  margin: auto;
}
.m-5 {
  margin: 25px;
}
.central {
  color: white !important;
}

.card {
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}
.team-card {
  display: flex;
  width: 150px;
}
.team-card > img {
  width: 60%;
}

/*Wallet zone*/
.container-logo-wallet {
  width: 100px;
  margin: auto;
}